certifi==2019.11.28
chardet==3.0.4
dataclasses==0.7
decorator==4.2.1
eventkit==0.8.5
ib-insync==0.9.59
idna==2.8
inflection==0.3.1
more-itertools==8.0.2
nest-asyncio==1.2.1
networkx==2.1
numpy==1.13.3
pandas==0.22.0
python-dateutil==2.6.1
pytz==2017.3
Quandl==3.5.0
requests==2.22.0
scipy==1.4.1
six==1.11.0
urllib3==1.25.7
